@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #F9FAFB; /* Gray 50 - Light Mode Default */
  color: #111827; /* Gray 900 - Light Mode Default */
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dark body {
  background-color: #0A0A0A; /* Dark Mode Default */
  color: #D1D5DB; /* Dark Mode Text */
}
